body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
 }
header{
    color:blue;
    font-size: 25px;
    margin-left: 10px;
    margin-right: 10px;
}
.signUp{
    background-color: blue;
    margin-top: 8px;
    color: white;
    font-size: 15px;
    padding: 8px;
    width: 100px;
    margin-left: 5px;
}
.heading{
    display: flex;
    justify-content: center;
    margin: 15PX;
}

.headingInput{
    width: -webkit-fill-available;
    text-align: center;
    outline: none;
    border: none;
    font-weight: bold;
    font-size: 18px;
    background-color: #fff;
}

.authorInput{
    /* text-align: center; */
    outline: none;
    border: none;
    font-weight: bold;
    background-color: #fff;

}

.edit{
    color: #fff;
    background-color: #e12c2c;
    border: 1px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    width: 80px;
    margin-right: 50px;
    float: right;
    padding: 5px;
}

.content{
    margin: 0px 50px 0px 50px;
}

.content textarea{
    outline: none;
    border: none;
    background-color: #fff;
    text-align: justify;
}

#likeBlog{
    color: #fff;
    background-color: #e12c2c;
    border: 1px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    padding: 5px;
    margin-left: 50px;
    width: 80px;
}

.like{
    margin-top: 20px;
}

.likeText{
    margin-left: 50px;
    margin-top: 10px;
    font-family: "Roboto Mono", sans-serif;
    font-size: 14px;
}

.commentArea{
    margin-left: 50px;
    margin-top: 10px;
    width: fit-content;
}

#textArea{
    display: block;
    /* width: 100%; */
    /* height: calc(1.5em + .75rem + 2px); */
    padding: .375rem .75rem;
    /* font-size: 1rem; */
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out
}

#textArea:focus{
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);;
}

.btnComment{
    color: #fff;
    background-color: #e12c2c;
    border: 1px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    padding: 8px;
    margin-top: 10px;
}

#addCmnt{
    margin-top: 10px;
}